@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;

}

button{
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="file"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.caption {
    margin-top: 40px;
}

.caption h2 {
    color: #333;
}

.caption p {
    font-size: 18px;
    color: #666;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #41444B;
    padding-inline: 20px;

}

.logo-name{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;

}

.logo-img{
    height: 40px;
}

.heading{
    color: #DFD8C8;
  }

.subdiv{
    width: 100%;
    height: calc(100vh - 90.88px);
    display: flex;
    justify-content: center;
    align-items: center;
}  

@media(max-width: 400px) {

    .heading{
        color: #DFD8C8;
        font-size: x-large;
      }

      .container{
        max-width: 250px;
        border-radius: 15px;
      }

      h1 {
        text-align: center;
        color: #333;
        font-size: x-large;
    }

    .subdiv{
        height: calc(100vh - 200px);
        /* height: screen; */
    }
}