<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Captioning with Azure</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="navbar">
        <div class="logo-name">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo-img">
            <h1 class="heading">AzTecX</h1>
        </div>
    </div>
    <div class="subdiv">
        <div class="container">
            <h1>Image Captioning with Azure</h1>
            <form method="POST" enctype="multipart/form-data">
                <input type="file" name="file" accept="image/*" required>
                <button type="submit">Get Caption</button>
            </form>
            {% if caption %}
            <div class="caption">
                <h2>Caption:</h2>
                <p>{{ caption }}</p>
            </div>
            {% endif %}
        </div>
    </div>
</body>

</html>